/* You can add global styles to this file, and also import other style files */
$feature-flags: (
  components-x: true,
  ui-shell: true
);
@import '~carbon-components/scss/globals/scss/styles.scss';

button[title='Open menu'] {
  display: none;
}
.bx--grid {
  margin: 0 !important;
  padding: 0 !important;
}
.bx--side-nav__footer {
  display: none;
}
