<ibm-header (menuClicked)="menuClicked()" name="Cloud Garage Catalyst"></ibm-header>
<ibm-sidenav expanded="true">
  <ibm-sidenav-menu title="12 Design Patterns" expanded="true">
    <svg icon width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true">
      <path d="M8.24 25.14L7 26.67a14 14 0 0 0 4.18 2.44l.68-1.88a12
          12 0 0 1-3.62-2.09zm-4.05-7.07l-2 .35A13.89 13.89 0 0 0 3.86
          23l1.73-1a11.9 11.9 0 0 1-1.4-3.93zm7.63-13.31l-.68-1.88A14
          14 0 0 0 7 5.33l1.24 1.53a12 12 0 0 1 3.58-2.1zM5.59
          10L3.86 9a13.89 13.89 0 0 0-1.64 4.54l2 .35A11.9 11.9 0 0 1 5.59
          10zM16 2v2a12 12 0 0 1 0 24v2a14 14 0 0 0 0-28z" />
    </svg>
    <ibm-sidenav-item [active]="patternName === 'Display Form' ? true : false" (click)="onSelect('Display Form')">Display Form</ibm-sidenav-item>
    <ibm-sidenav-item [active]="patternName === 'Validating Form' ? true : false" (click)="onSelect('Validating Form')">Validating Form</ibm-sidenav-item>
    <ibm-sidenav-item [active]="patternName === 'Update Form' ? true : false" (click)="onSelect('Update Form')">Update Form</ibm-sidenav-item>
    <ibm-sidenav-item [active]="patternName === 'Validating Form Wizard 1' ? true : false" (click)="onSelect('Validating Form Wizard 1')">Validating Form Wizard 1</ibm-sidenav-item>
    <ibm-sidenav-item [active]="patternName === 'Validating Form Wizard 2' ? true : false" (click)="onSelect('Validating Form Wizard 2')">Validating Form Wizard 2</ibm-sidenav-item>
    <ibm-sidenav-item [active]="patternName === 'Simple List' ? true : false" (click)="onSelect('Simple List')">Simple List</ibm-sidenav-item>
    <ibm-sidenav-item [active]="patternName === 'Table List' ? true : false" (click)="onSelect('Table List')">Table List</ibm-sidenav-item>
    <ibm-sidenav-item [active]="patternName === 'List to List' ? true : false" (click)="onSelect('List to List')">List to List</ibm-sidenav-item>
    <ibm-sidenav-item [active]="patternName === 'Linked List' ? true : false" (click)="onSelect('Linked List')">Linked List</ibm-sidenav-item>
    <ibm-sidenav-item [active]="patternName === 'Master Detail' ? true : false" (click)="onSelect('Master Detail')">Master Detail</ibm-sidenav-item>
    <ibm-sidenav-item [active]="patternName === 'Create, Read, Update, Delete' ? true : false" (click)="onSelect('Create, Read, Update, Delete')">Create, Read, Update, Delete</ibm-sidenav-item>
    <ibm-sidenav-item [active]="patternName === 'Search List' ? true : false" (click)="onSelect('Search List')">Search List</ibm-sidenav-item>
    <ibm-sidenav-item [active]="patternName === 'Search Form' ? true : false" (click)="onSelect('Search Form')">Search Form</ibm-sidenav-item>
  </ibm-sidenav-menu>
</ibm-sidenav>
<div class="bx--content pattern-container" [ngSwitch]="patternName">
  <app-display-form *ngSwitchCase="'Display Form'">Display Form</app-display-form>
  <div *ngSwitchCase="'Validating Form'">Validating Form</div>
  <div *ngSwitchCase="'Update Form'">Update Form</div>
  <div *ngSwitchCase="'Validating Form Wizard 1'">Validating Form Wizard 1</div>
  <div *ngSwitchCase="'Validating Form Wizard 2'">Validating Form Wizard 2</div>
  <div *ngSwitchCase="'Simple List'">Simple List</div>
  <app-table-list *ngSwitchCase="'Table List'">Table List</app-table-list>
  <div *ngSwitchCase="'List to List'">List to List</div>
  <div *ngSwitchCase="'Linked List'">Linked List</div>
  <div *ngSwitchCase="'Master Detail'">Master Detail</div>
  <div *ngSwitchCase="'Create, Read, Update, Delete'">Create, Read, Update, Delete</div>
  <div *ngSwitchCase="'Search List'">Search List</div>
  <div *ngSwitchCase="'Search Form'">Search Form</div>
  <div *ngSwitchDefault></div>
</div>
